.emptyFormSpace {
	height: 86px;
}

.emptyMar {
	margin-bottom: 0;
}

.abilName {
	color: white;
	text-align: center;
	width: 42px;
}

.exSkillName {
	padding: .375rem;
}

#tutorial-data-list {
	color: white;
}